<a href="https://colab.research.google.com/github/Rashedur2000/Varsity-Task/blob/main/L3_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 1
while (num <= 20):
  print (num)
  num = num + 2

1
3
5
7
9
11
13
15
17
19

In [ ]:
num = 8
count = 1
while (count<=10):
  print(f"{num} * {count} = {num * count}")
  count = count + 1

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
n = 1
result = 0
while (n <= 100):
  if (n==90):
    n = n +1
    continue
  result = result + n
  n = n+1
print(result)
print(n)

4960
101

In [ ]:
num = 0
for n in range (20):
  num = num + n
  print(num)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190

In [ ]:
num = 7
for n in range(5,28):
  print(f"{num} * {n} = {num*n}")

7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
7 * 13 = 91
7 * 14 = 98
7 * 15 = 105
7 * 16 = 112
7 * 17 = 119
7 * 18 = 126
7 * 19 = 133
7 * 20 = 140
7 * 21 = 147
7 * 22 = 154
7 * 23 = 161
7 * 24 = 168
7 * 25 = 175
7 * 26 = 182
7 * 27 = 189

In [ ]:
for n in range(5):
  for o in range(n):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *