<a href="https://colab.research.google.com/github/Rashedur2000/Varsity-Task/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Variables
name = "Hridoy"
years = 21
print("My name is" +name)
print("I am",years,"old")
a = 21
b = 5.6
r = a+b
print(r)
r = a-b
print(r)
r = a*b
print(r)
r = a/b
print(r)

My name isHridoy
I am 21 old
26.6
15.4
117.6
3.7500000000000004

In [1]:
#square and division value in integer  
a = 2 
r = a**2
print(r)
b = 19
c = 4
r = b//c
print(r)

4
4

In [2]:
#print integer
print(20)
#print character
print("Hridoy")
#newline and backslash
print("This is a python program.\n We are doing it in google colab.\n My name is \"Hridoy\"")

20
Hridoy
This is a python program.
 We are doing it in google colab.
 My name is "Hridoy"

In [3]:
#input method
name = input("Enter your name: ")
age = input("Enter your age: ")
gpa = input("Enter your gpa: ")
print("Details Information")
print("Name: "+name)
print("Age: ",age)
print("GPA: ",gpa)

Enter your name: Hridoy
Enter your age: 21
Enter your gpa: 4
Details Information
Name: Hridoy
Age:  21
GPA:  4